@model Expenses_Management_System.Models.Expenses

@{
    ViewBag.Title = "Create";
<<<<<<< HEAD
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Expenses", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>expenses_tbl</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-group">
            @Html.LabelFor(model => model.exp_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.exp_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.exp_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <!--<div class="form-group">
        @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })-->
            @*@Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })*@
        <!--</div>
    </div>-->

    <div class="form-group">
        @Html.LabelFor(model => model.monthly_income, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.monthly_income, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.monthly_income, "", new { @class = "text-danger" })*@
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.fkUserId, "fkUserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkUserId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: " Select Category")
        <div class="col-md-10">
            @Html.DropDownList("cat_id", (SelectList)ViewBag.catMsg, "Select Category", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.fkUserId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Select Sub Category")
        <div class="col-md-10">
            @Html.DropDownList("subcat_id", (SelectList)ViewBag.subCatMsg, "Select Sub Category", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.fkCatId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Sub Sub Category")
        <div class="col-md-10">
            @Html.DropDownList("sub_sub_catId", (SelectList)ViewBag.subsubCatMsg, "Select Sub Sub Category", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.fkSubCatId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.item_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.item_name, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.item_name, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.item_qty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.item_qty, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.item_qty, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.total_price, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sdate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @*@Html.ValidationMessageFor(model => model.sdate, "", new { @class = "text-danger" })*@
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_on, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_on, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_by, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_by, "", new { @class = "text-danger" })
            </div>
        </div>*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
=======
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Create New Expenses</h2>


@*@using (Html.BeginForm("Create", "Expenses", FormMethod.Post))*@
@using (Html.BeginForm("Create", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label" }, labelText: "Category")
                    @Html.DropDownList("cat_id", (SelectList)ViewBag.catMsg, "Select Category", htmlAttributes: new { @class = "form-control", @id = "ddlcategory" })
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label" }, labelText: "Sub-Sub Category")
                    @Html.DropDownList("sub_sub_catId", (SelectList)ViewBag.subsubCatMsg, "Select Sub Sub Category", htmlAttributes: new { @class = "form-control", @id = "ddlsubsubcategory" })
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.item_qty, htmlAttributes: new { @class = "control-label" }, labelText: "Qty")
                    @Html.EditorFor(model => model.item_qty, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label" }, labelText: "Payment Mode")
                    @Html.DropDownList("PM_id", (SelectList)ViewBag.paym, "Select Payment Mode", htmlAttributes: new { @class = "form-control", @id = "ddlPaymode" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.sdate, htmlAttributes: new { @class = "control-label" }, labelText: "Date")
                    @Html.EditorFor(model => model.sdate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                </div>
                <div class="form-group">

                    <input type="file" name="ImageFile" />
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label" }, labelText: "Sub Category")
                    @Html.DropDownList("subcat_id", (SelectList)ViewBag.subCatMsg, "Select Sub Category", htmlAttributes: new { @class = "form-control", @id = "ddlsubcategory" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.item_name, htmlAttributes: new { @class = "control-label" }, labelText: "Item Name")
                    @Html.EditorFor(model => model.item_name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label" }, labelText: "Price")
                    @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label" }, labelText: "Select Bank")
                    @Html.DropDownList("acid", (SelectList)ViewBag.bank, "Select Bank", htmlAttributes: new { @class = "form-control", @id = "ddlBank" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label" }, labelText: "Remark")
                    @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <div class="text-left">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
>>>>>>> 2d83cd4 (Add project files.)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<<<<<<< HEAD
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
=======


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                bindsub();
                bindBank();
            });


        function bindBank() {

            $('#ddlPaymode').change(function () {
                var payid = $(this).val();
                //alert(payid);
                if (payid) {
         $.ajax({
              url: '@Url.Action("GetBank", "Expenses")',
             type: 'GET',
             data: { paymodeid: payid },
             type: "Get",

             success: function(data){
                //var aa = json.stringify(data);
                // alert('OK');
                 var bank = $('#ddlBank');
                 bank.empty();



                 bank.append($('<option></option>').val('').html('Select Bank'));
                     for (var i = 0; i < data.length; i++) {
                         bank.append($('<option></option>').val(data[i].acid).html(data[i].bankname));
                     }
             }
         });
     }
            })
        }
        function bindsub() {

             $('#ddlcategory').change(function () {
     var catid = $(this).val();
      //alert(catid);
     if (catid) {
         $.ajax({
              url: '@Url.Action("GetSubcat", "Expenses")',
             type: 'GET',
             data: { categoryid: catid },
             type: "Get",

             success: function(data){
                //var aa = json.stringify(data);
                // alert('OK');
                 var subcat = $('#ddlsubcategory');
                 subcat.empty();

                 var subsubcat = $('#ddlsubsubcategory');
                 subsubcat.empty();
                 subsubcat.append($('<option></option>').val('').html('Select SubSubategory'));

                 subcat.append($('<option></option>').val('').html('Select Subategory'));
                     for (var i = 0; i < data.length; i++) {
                         subcat.append($('<option></option>').val(data[i].subcat_id).html(data[i].subcat_name));
                     }
             }
         });
     }
 })
        }
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlsubcategory').change(function () {
                var subcatid = $(this).val();
                var catid = $('#ddlcategory').val();
               // alert(subcatid);
                if (subcatid) {
                    $.ajax({
                         url: '@Url.Action("GetSubSubcat", "Expenses")',
                        type: 'GET',
                        data: { subcategoryid: subcatid, categoryid:catid },
                        type: "Get",

                        success: function(data){
                           //var aa = json.stringify(data);
                           // alert('OK');
                            var subcat = $('#ddlsubsubcategory');
                            subcat.empty();
                            subcat.append($('<option></option>').val('').html('Select SubSubategory'));
                                for (var i = 0; i < data.length; i++) {
                                    subcat.append($('<option></option>').val(data[i].sub_sub_catId).html(data[i].sub_sub_catName));
                                }
                        }
                    });
                }
            })
        });
    </script>
>>>>>>> 2d83cd4 (Add project files.)
}
