<<<<<<< HEAD
﻿<!DOCTYPE html>
=======
﻿@using Expenses_Management_System.Models;

<!DOCTYPE html>
>>>>>>> 2d83cd4 (Add project files.)
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>@ViewBag.Title - My ASP.NET Application</title>
=======
    <title>@ViewBag.Title</title>
>>>>>>> 2d83cd4 (Add project files.)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Expenses Management Systen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
<<<<<<< HEAD
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Category", "Create", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("SubCategory", "Index", "SubCategory", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sub Sub Category", "Index", "SubSubCategory", new { area = "" }, new { @class = "nav-link" })</li>
=======
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Category", "Create", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("SubCategory", "Index", "SubCategory", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sub Sub Category", "Index", "SubSubCategory", new { area = "" }, new { @class = "nav-link" })</li>*@
                    @foreach (var item in ViewBag.MenuItems as List<MenuItem>)
                    {
                        <li>
                            <a href="@item.Url">@item.Title</a>
                            @if (item.SubMenuItems != null && item.SubMenuItems.Any())
                            {
                                <ul>
                                    @foreach (var subItem in item.SubMenuItems)
                                    {
                                        <li><a href="@subItem.Url">@subItem.Title</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
>>>>>>> 2d83cd4 (Add project files.)
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
