@model Expenses_Management_System.Models.Monthly_Income_tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Monthly_Income Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monthly_income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monthly_income)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
